<div id="menu-overlay"></div>
<div id="menu-sidebar" class="side-bar no-select unfocus-for-lightbox">
    <img class="profile-pic" src="static/images/profile.jpg">
    <div class="profile-title profile-text">
        <div class="profile-name">Drew R. Goodman //</div>
        <div class="profile-job"> Full Stack Developer</div>
        <div class="profile-desc">Software engineer from Portland, Oregon passionate about web application, UX, and game design. Currently experienced with React.js, Django, jQuery, Python, and SQL databases.</div>
    </div>
    <div class="profile-item profile-links profile-text">
        <!-- <a class="profile-link" href='#home'><i class="fas fa-home"></i>Home</a> -->
        <a class="profile-link" href='#skills'><i class="fas fa-toolbox"></i>My Skills</a>
        <a class="profile-link" href='#portfolio-client'><i class="fas fa-laptop-code"></i>Client Work</a>
        <a class="profile-link" href='#portfolio-personal'><i class="fas fa-project-diagram"></i>Projects</a>
        <a class="profile-link" href='#resume'><i class="fas fa-paperclip"></i>Resume</a>
        <!-- <a class="profile-link" href='#contact'><i class="fas fa-phone"></i>Contact Me</a> -->
    </div>

    <div class="profile-contact profile-text">
        <!-- <div class="profile-link"><i class="fas fa-phone"></i>Contact Me</div> -->
        <div class="profile-contact-icons">
            <a class="contact-link" href='https://www.linkedin.com/in/drew-r-goodman' target="_blank">
                <i class="fab fa-linkedin-in"></i></a>
            <a class="contact-link" href='https://github.com/drewgoodman' target="_blank"><i
                    class="fab fa-github"></i></a>
            <a class="contact-link" href='mailto:drewgoodmanPDX@gmail.com'><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</div>